

body{
    width: 1340px;
    height: auto;
    flex-shrink: 0; 
    background: linear-gradient(180deg, #40A578 21.4%, #57B37D 44.9%);
    overflow-x: hidden;
    text-align: center;
    position: relative;
    
}
main{

    margin-top: 170px;
}
header{
height: 81px;
flex-shrink: 0;
color:white;

}

#Rectangle_1{
    position: fixed;
    right: 50%;
    top: -20px;
width: fit-content;
z-index: 1;
}

#Rectangle_2{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: -20px;
width: fit-content;

}

#Index img{

width: 200px;
}

#index{
    bottom: 500px;
    right: 300px;
}


footer{
    width: 1920px;
height: 329px;
flex-shrink: 0;
background: linear-gradient(0deg, rgba(230, 255, 148, 0.88) 92.9%, rgba(111, 193, 129, 0.88) 100%);
font-family: "Josefin Sans";
position: relative;
top: 180px;
}
nav a{
    text-decoration: none;
    color: white;
    z-index: 2;
    position: fixed;
   
}

figure{
    width: 35px;
height: 35px;
flex-shrink: 0;
}
footer p{
    padding-left: 150px;
}


.gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    width: 70%;
    align-items: flex-start;
    padding: 0 80px;
}
.text_gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 70%;
    align-items: flex-start;
    padding: 20px 80px;

    color: #FFF;

font-family: "Josefin Sans";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
video{
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 100px;
}
#team{
    
    width: 250px;
    height: 150px;
    flex-shrink: 0;
    padding-left: 180px;


}
#team img{
    border-radius: 30%;
}
.footertext{
    width: 1440px;
    height: auto;
    position: relative;
    bottom: 50px;
}
h2{
    text-align: center;
    color: white;
}
.Images{
    width: 600px;
height: 465px;
flex-shrink: 0;
border-radius: 72px;
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 100px; 
position: relative;
}
.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}


