*{
margin: 0;
padding: 0;
}

body{
    max-width: 1340px;
    height: auto;
    flex-shrink: 0; 
    background: #F8C794;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    
    
}
main{

    margin-top: 100px;
}
header{
height: 81px;
flex-shrink: 0;
color:white;

}

#Rectangle_1{
    position: fixed;
    right: 50%;
    top: -20px;
width: fit-content;
z-index: 1;
}

#Rectangle_2{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: -20px;
width: fit-content;

}
#Rectangle_1:hover, header:has(#Index:hover) #Rectangle_1 {
width: 50vw;

}
#Rectangle_2:hover, header:has(a:hover) #Rectangle_2 {
    width: 50vw;
 
    left: 40%;;
    }

#Index img{

width: 175px;
z-index: 2;
position:fixed;
left: 200px;
top:-25px;
}

#merch{

    z-index: 2;
    position: fixed;
    margin-left: 60px;
    right: 30%;
    top: 20px;
    
}
#contact{
    z-index: 2;
    position: fixed;
    margin-left: 60px;
    right: 10%;
    top: 20px;

}




footer{
    width: 100vw;
height: 229px;
flex-shrink: 0;
background: #1E2553;
font-family: "Josefin Sans";
position: relative;
top: 280px;
}
nav a{
    text-decoration: none;
    color: white;
    z-index: 2;

-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Anton;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
   
}

figure{
    width: 35px;
height: 35px;
flex-shrink: 0;
}
footer p{
    padding-left: 150px;
}


.gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    width: 70%;
    align-items: flex-start;
    padding: 0 80px;
    position: relative;
    left: 125px;
}
.text_gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 70%;
    align-items: flex-start;
    padding: 20px 80px;
    position: relative;
    left: 185px;
    top: 90px;

    color: #FFF;

font-family: "Josefin Sans";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
video{
    width: 800px;
    height: auto;
    flex-shrink: 0;
    margin-left: 100px;
    border-radius: 20px;
    border: 15px solid #1E2553;
}
#team{
    
    width: 350px;
    height: auto;
    flex-shrink: 0;
    padding-left: 180px;


}
#team img{
    border-radius: 30%;
}
.footertext{
    width: 1440px;
    height: auto;
    position: relative;
    bottom: 50px;
    color: white;
    right: 15px;
}
h2{
position: relative;
    color: black;
    left: 60px;
    bottom: 40px;
}
.container {
    display: flex;
    height: 100vh; 
    position: relative;
    left: 30%;
}

.Images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 100px;
    width: 800px;
    height: 650px;
}
.Images p{
    position: relative;
    right: 675px;
    top: 285px;
}

.social{
    display: flex;
    flex-shrink: 0;
    width: 130px;
    height: 60px;
    position: relative;
    top: 150px;
    left: 525px;
}
.social img{
margin: 0 80px;
border-radius: 20%;
}
.about{
    color: black;
display: grid;
grid-template-columns: repeat(4, 2fr);
position: relative;
left: 220px;
top: 100px;

}

p{
    color: rgba(0, 0, 0, 0.80);

    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text{

    width: 350px;
    position: relative;
    top: 45px;
    left: 30px;
    text-align: left;
}
.footer-line {
    
    position: relative;  
    font-size: 16px;
    margin-bottom: 10px; 
}

.footer-line:nth-child(1){
    top:20px;
    right: 150px;
}

.footer-line:nth-child(2) {

    left: 250px;
}
.footer-line:nth-child(3){
    right: 235px;
    top: 20px;
}


.footer-line:nth-child(4) {
top: 40px;
    right: 240px;
}
.footer-line:nth-child(5){
    right: 245px;
    top: 60px;
}
h1{
    position: relative;
    left: 60px;
}
.contact-text{
    position: relative;
    left: 60px;
}
.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    bottom: 390px;
    left: 494px;
  }
  .button2 {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    bottom: 425px;
    left: 880px;
  }
  .button3 {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    bottom: 80px;
    left: 494px;
  }
  .button4 {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    bottom: 120px;
    left: 880px;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
  

