body{
    width: 1920px;
    height: 1836px;
    flex-shrink: 0; 
    background: linear-gradient(180deg, #40A578 21.4%, #57B37D 44.9%);
    text-align: center;
}
header{
    width: 1053px;
height: 81px;
flex-shrink: 0;
background-color: #006769;
color:white
}
footer{
    width: 1920px;
height: 329px;
flex-shrink: 0;
background: linear-gradient(0deg, rgba(230, 255, 148, 0.88) 92.9%, rgba(111, 193, 129, 0.88) 100%);
}
nav a{
    text-decoration: none;
    color: white;
}
#social{
    width: 35px;
height: 35px;
flex-shrink: 0;
}
footer p{
    padding-left: 150px;
}
.gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    width: 70%;
    align-items: flex-start;
    padding: 0 80px;
}
.text_gallery{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 70%;
    align-items: flex-start;
    padding: 20px 80px;

    color: #FFF;

font-family: "Josefin Sans";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
video{
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 100px;
}
#team{
    width: 250px;
    height: 150px;
    flex-shrink: 0;
    padding-left: 180px;
}
#footertext{
    width: 1920px;
    height: 329px;

}